*{
  box-sizing: border-box;
  margin: 0;
  padding: 1px;
  font-family: sans-serif;
}

.container-fluid{
  height: 2rem;
}
.navBar{
  display: flex;
  justify-content: space-between;
}

.firstSection{
  position: relative;
  display: grid;
  
}

.firstTab{
  height: 70%;
  width: 100%;
  position: relative;
  z-index: 1;
  margin-top: 6rem;
}
.firstBlue{
  background-color: #6610f2;
  width: 70%;
  height: 10rem;
  border-radius: 100px 0 0 100px;
  margin-top: 10rem;
  position: absolute;
  margin-left: 6rem;
 
  
}
.bookMark{
  margin-top:3rem;
  text-align: center;
  justify-content: center;

}
.Button{
  justify-content: center;
  margin: auto;
}


.buttonDiv1{
 justify-items: center;
 margin-right: 1rem;
 border-radius: 5px;
 height: 3rem;
 width: 9rem;
 border: none;
 box-shadow: 0px 1px 1px 0px;
}
.buttonDiv2{
 justify-items: center;
 border-radius:5px;
 height: 3rem;
 width: 9rem;
  border: none;
   box-shadow: 0px 1px 1px 0px;

}
.secondClass{
  text-align: center;
  justify-content: center;
  margin: auto;
 margin-top: 4rem;
 }

.bookMarking{
  text-align: center;
  border-top: 1px solid black;
  width: 18rem;
  margin: auto;
}
.bookMarking h5 {
border-bottom: 1px solid black;
padding: 1rem;
}
.secondBlue{
background-color: #6610f2;
  width: 75%;
  height: 10rem;
  padding: 4rem;
  border-radius: 0 100px 100px 0;
  margin-top: 10rem;
  position: absolute;
}
.secondTab{
height: 85%;
width: 85%; 
position: relative;
margin-top: 7rem;
margin-left: 2rem;
/* padding: 2rem; */
}
.click{
  margin-top: 5rem;
  text-align: center;
  justify-content: center;
}
.card{
  text-align: center;
  justify-content: center;
  padding: 3.5rem;
  width: 17rem;
  margin: auto;
  display: grid;
  grid-template-columns: auto;
  gap: 1rem;
  box-shadow: 0px 4px 7px 0px;
  
}
.cardButton{
width: 11rem;
height: 3rem;
border-radius: 5px;
transition: all .5s ease;
background-color : transparent;
}


.cardButton:hover {
color: whitesmoke;
transition-delay: 0.1s;
background-color: blue;
border-radius: 5px;
border: none;
}
.frequent{
  text-align: center;
  justify-content: center;
  margin: auto;
  margin-top: 4rem;
}
 .fifthSection{
  justify-content: center;
  text-align: center;
 }

.extension{
  text-align: center;
  justify-content: center;
  margin: auto;
}
.cardDiv{
display: grid;
gap: 2rem;
}
.moreInfo{
border-radius: 5px;
background-color: #6610f2;
border: none;
height: 2rem;
color: whitesmoke;
text-align: center;
margin: auto;
justify-content: center;

}

.footerButton{
  width: 17rem;
  height: 40px;
  margin: auto;
  background-color: red;
  border: none;
  border-radius: 5px;
  margin-bottom: 2rem;
  color: white;
 
  
}
.footerInput{
 width: 17rem;
  height: 45px;
  margin: auto;
}
.footer1{
  text-align: center;
  justify-content: baseline;
  margin: auto;
  display: grid;
  grid-template-columns: auto;
  margin-top: 4rem;
  gap: 1rem;
  background-color:#6610f2;
  color: white;
  padding: 1rem;
}

.footerLogo{
background-color: #02042B;
  text-align: center;
  justify-content: center;
  margin: auto;
  display: grid;
  grid-template-columns: auto;
  gap: 1rem;
  color: white;
  padding: 2rem;
}
.footerIcons{
 justify-content: space-between;
}


@media (min-width:375px) { 
  .firstBlue{
  background-color: #6610f2;
  width: 70%;
  height: 10rem;
  border-radius: 100px 0 0 100px;
  margin-top: 12.5rem;
  position: absolute;
  margin-left: 6rem;}

  .secondBlue{
background-color: #6610f2;
  width: 75%;
  height: 10rem;
  padding: 4rem;
  border-radius: 0 100px 100px 0;
  margin-top: 12rem;
  position: absolute;
}

}

@media (min-width:425px) {
  .firstBlue{
  background-color: #6610f2;
  width: 70%;
  height: 10rem;
  border-radius: 100px 0 0 100px;
  margin-top: 14rem;
  position: absolute;
  margin-left: 6rem;}

  .secondBlue{
background-color: #6610f2;
  width: 75%;
  height: 10rem;
  padding: 4rem;
  border-radius: 0 100px 100px 0;
  margin-top: 14rem;
  position: absolute;
}
.firstTab{
  height: 70%;
  width: 95%;
  position: relative;
  z-index: 1;
  margin-top: 6rem;
}
}
@media (min-width:768px){
.navBar{
  padding: 1rem;
}

  .FirstSection{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction:row;
    margin-top: 2rem;
    
  }
  .bookMark{
    width: 60%;
  }
  .firstTab{
    width: 80%;
    height: 80%;
    margin-top: 3rem;
  }
  .firstBlue{
    width: 20rem;
    height: 12rem;
    margin-top: 9rem;
    margin-left: 25rem;
    border-radius: 100% 0 0 100%;
  }
    .secondBlue{
  background-color: #6610f2;
  width: 45%;
  height: 12rem;
  border-radius: 0 100px 100px 0;
  margin-top: 9rem;
  position: absolute;
}

.bookMarking{
display: flex;
width: 100%;
justify-content: center;
}
.secondTab{
height: 65%;
width: 70%; 
position: relative;
margin-top: 3.5rem;
margin-left: 3rem;
/* padding: 2rem; */
}
.thirdSection{
  display: flex;
}
.click{
  width: 50%;
  padding: 1rem;
}
.secondClass{
  width: 60%;
}
.cardDiv{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}
.extension{
  width: 65%;
}
.frequent{
  width: 60%;
}
.accord{
  width: 50%;
  justify-content: center;
  margin: auto;
}
.stay{
  width: 50%;
  text-align: center;
  justify-content: center;
  margin: auto;
}
}






@media (min-width:1024px){
  .navBar{
  width: 85%;
}

  .FirstSection{
    display: flex;
    justify-content: center;
    text-align: center;
    /* flex-direction:row; */
    margin-top: 2rem;
    
  }
  .bookMark{
    width: 50%;
  
  }
  .firstTab{
    width: 100%;
    height: 100%;
    margin-top: 0.5rem;
  }
  .firstBlue{
    width: 26rem;
    height: 18rem;
    margin-top: 9rem;
    margin-left: 39rem;
    border-radius: 100% 0 0 100%;
  }
    .secondBlue{
  background-color: #6610f2;
  width: 45%;
  height: 16rem;
  border-radius: 0 100px 100px 0;
  margin-top: 9rem;
  position: absolute;
}

.bookMarking{
display: flex;
width: 100%;
justify-content: center;
border-top: none;
}
.secondTab{
height: 85%;
width: 85%; 
position: relative;
margin-top: 2.6rem;
margin-left: 3rem;
/* padding: 2rem; */
}
.thirdSection{
  display: flex;
}
.click{
  width: 50%;
  padding: 1rem;
}
.secondClass{
  width: 60%;
}
.cardDiv{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.extension{
  width: 50%;
  margin-top: 7rem;
}
.frequent{
  width: 45%;
}

.accord{
  width: 50%;
  justify-content: center;
  margin: auto;
}
.stay{
  width: 50%;
  text-align: center;
  justify-content: center;
  margin: auto;
}
}




@media (min-width:1440px) {
   .navBar{
  width: 85%;
}

  .FirstSection{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
    
  }
  .bookMark{
    width: 50%;
  
  }
  .firstTab{
    width: 100%;
    height: 100%;
    margin-top: -1rem;
  }
  .firstBlue{
    width: 36rem;
    height: 20rem;
    margin-top: 9rem;
    margin-left: 54rem;
    border-radius: 100% 0 0 100%;
  }
    .secondBlue{
  background-color: #6610f2;
  width: 40%;
  height: 20rem;
  border-radius: 0 100px 100px 0;
  margin-top: 12rem;
  position: absolute;
}

.bookMarking{
display: flex;
width: 100%;
justify-content: center;
border-top: none;
}
.secondTab{
height: 100%;
width: 100%; 
position: relative;
margin-top: 1.6rem;
margin-left: 5rem;
/* padding: 2rem; */
}
.thirdSection{
  display: flex;
  justify-content: space-between;
}
.click{
  width: 50%;

}
.secondClass{
  width: 60%;
}
.cardDiv{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: auto;
}
.extension{
  width: 50%;
  margin-top: 7rem;
}
.frequent{
  width: 45%;
}

.accord{
  width: 70%;
  justify-content: center;
  margin: auto;
  text-align: center;
}
.stay{
  width: 50%;
  text-align: center;
  justify-content: center;
  margin: auto;
}
.footerNew{
  display: flex;
  justify-content: ;
}
.footerLogo{
  display: flex;
  justify-content: space-between;
}
}
